<%= form_with(model: friend, local: true) do |form| %>
  <% if friend.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(friend.errors.count, "error") %> prohibited this friend from being saved:</h2>

      <ul>
      <% friend.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :friend_name %>
  </div>

  <div class="field">
    <%= form.label :nickname %>
    <%= form.text_field :nickname, id: :friend_nickname %>
  </div>

  <div class="field">
    <%= form.label :avatar_url %>
    <%= form.text_field :avatar_url, id: :friend_avatar_url %>
  </div>

  <div class="field">
    <%= form.label :avatar %>
    <%= form.file_field :avatar, id: :friend_avatar %>
    <% if friend.avatar.attached? %>
      <%= image_tag url_for(friend.avatar), width: 100, height: 100 %>
    <% end %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
