<h2 class="serif">Catch up with a friend</h2>

<table>
  <tbody>
    <% @friends.each do |friend| %>
      <tr>
        <td><%= cdn_image_tag(friend.avatar_url, width: 60, height: 60) if friend.avatar_url %></td>
        <td><%= link_to friend.nickname || friend.name, edit_friend_path(friend) %></td>
        <td><%= time_ago(friend.last_seen_at) %></td>
        <td><%= link_to "Mark caught up!", friend_catchups_path(friend, catchup: {}), method: :create %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Add another friend', new_friend_path, class: "f6 display-inlineblock white backgroundcolor-darkgrey border borderwidth-4 bordercolor-darkgrey borderradius-2" %>
