<p>
  <strong>Name:</strong>
  <%= @friend.name %>
</p>

<p>
  <strong>Nickname:</strong>
  <%= @friend.nickname %>
</p>

<p>
  <strong>Last seen at</strong>
  <%= @friend.last_seen_at %>
</p>

<p>
  <strong>Avatar url:</strong>
  <%= image_tag @friend.avatar_url if @friend.avatar_url %>
</p>

<%= link_to 'Edit', edit_friend_path(@friend) %> |
<%= link_to 'Back', friends_path %>
