<!DOCTYPE html>
<html>
  <head>
    <title>Ketchup</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <section id="logo">
        <%= image_tag asset_pack_path("_/assets/images/logo_sketch.png") %>
        <h1>Ketchup!</h1>
      </section>

      <nav class="menu">
        <ul>
          <li><%= link_to "Friends", friends_path %></li>
          <li><%= link_to "About", about_path %></li>
          <% if user_signed_in? %>
            <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
          <% else %>
            <li><%= link_to "Log in", user_session_path %></li>
            <li><%= link_to "Sign up", new_user_registration_path %></li>
          <% end %>
        </ul>
      </nav>
    </header>

    <section class="flashes">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </section>

    <section class="main">
      <%= yield %>
    </section>

    <footer>
      <nav>
      </nav>
    </footer>
  </body>
</html>
